/* selector {
 property : value
} */


h1{
 color : red;
}
.navbar{
    text-align: center;
}

.card{
 border-style: solid;
 border-width: 3px;
 border-color: black;
 width: 350px;
 border-radius: 20px;
 overflow: hidden;

font-family: , Helvetica, sans-serif;
 text-align: center;


 margin-top: 50px;
 margin-left: auto;
 margin-right: auto;


 background-color: white;
}


.card img{
 width: 100%;
}


body{
 background-color: antiquewhite;
 margin: 0;
}


.card button{
 width: 70%;
 border-radius: 20px;
 padding: 20px;
 margin-bottom: 20px;
 cursor: pointer;
}

.card button:hover{
 background-color: black;
 color: white;
}

.navbar{
 text-align: center;


 /* border-style: solid;
 border-width: 3px;
 border-color: black; */


 border-bottom: 3px solid black;
 padding-bottom: 20px;
 padding-top: 20px;
 background-color: rgb(249, 240, 240);
 
}


.navbar a{
 margin-right: 23px;
 color: gray;
 text-decoration: none;
}

.navbar a:hover{
 color: rgb(163, 67, 67);
 text-decoration: underline;
}